@import "./fonts/fonts.css";

:root {
  /* color */
  --color-bg: #f5f5f5;
  --color-grey: lightgray;
  --color-accent: #e9dad9;

  /* font */
  --font-family: "IBMPlexSans", sans-serif;
  --main-font-size: 16px;
  --main-font-weight: 400;

  /* size */
  --border-radius: 1px;
  --border-active: 1px solid var(--color-accent);
}

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  display: flex;
  justify-content: center;
  margin: 0;
  font-family: var(--font-family);
  font-size: var(--main-font-size);
  font-style: normal;
  font-weight: var(--main-font-weight);
  font-optical-sizing: auto;
  background-color: var(--color-bg);
}

h1,
h2,
h3,
p,
ul,
ol,
li,
dl,
figure,
blockquote {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

input,
textarea,
select,
button {
  font: inherit;
}
